#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fretboard-container {
  overflow-x: auto;
}
svg {
  min-height: max-content;
  min-width: 700px; /* or whatever */
}

.tuning-dialog {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translateX(-50%);
  background: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  gap: 8px;
  justify-content: center;
  z-index: 999;
}
